/* .cours-liste-box{
    padding: 10px;
    
    background-color: rgb(89, 152, 211);
    border:1px solid aliceblue;
}

.cours-text-area{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cours-button-area{
    display: flex;
    justify-content: end;
}

.cours-button-area button{
    margin-left: 20px;
} */